$panel-bg: rgba(0, 0, 0, 0);
$panel-body-padding: 0px;
$panel-heading-padding: 0px;
$panel-footer-padding: 0px;
$panel-footer-bg: rgba(0, 0, 0, 0);
$panel-body-padding: 0px;
$panel-default-border: rgba(0, 0, 0, 0);
$panel-inner-border: rgba(0, 0, 0, 0);
$badge-border-radius: 1em;
$badge-bg: $dash-header-secondary;
$badge-line-height: 1em;
$brand-success: $dash-main-secondary;
$brand-info: $dash-main-quaternary;
$brand-danger: $dash-main-primary;