$dash-header-background: #13bdd2;
$dash-header-primary: #fff;
$dash-header-secondary: #e81c7b;
$dash-header-imgBorder: #5ad1e0;
$dash-header-menuActive: #000;
$dash-main-background: #d9dada;
$dash-main-primary: #fff;
$dash-main-secondary: #13bdd2;
$dash-main-tertiary: #e81c7b;
$dash-main-quaternary: #01cc01;
$dash-main-icon: #b2b2b2;
$dash-main-iconActive: #fff;
$dash-main-text1: #000;
$dash-main-text2: #6eb512;
$dash-main-textActive: #fff;