// Add custom font
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,400,500,700);
$dash-fontfamily-normal: 'Roboto',
Arial,
sans-serif;
$dash-fontfamily-condensed: 'Roboto Condensed',
Arial,
sans-serif;
$font-family-base: $dash-fontfamily-normal;
// sans-serif;
// Import bootstrap and fontawesome
@import "colors";
@import "bootover";
@import "bootstrap";
@import "font-awesome";
//mixim time
@mixin dash-border-radius() {
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -ms-border-radius: 0.25em;
    border-radius: 0.25em;
}

//Override
.panel {
    box-shadow: 0 0px 0px transparent;
}

.btn {
    border: 0;
}

// Bootstrap Starter Template Styles
body {
    .vcenter {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .vcenter-left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .row-flex,
    .row-flex>div[class*='col-'] {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex: 1 1 auto;
    }
    .row-flex-wrap {
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        align-content: flex-start;
        flex: 0;
    }
    .row-flex>div[class*='col-'],
    .container-flex>div[class*='col-'] {
        margin: -.2px;
        /* hack adjust for wrapping */
    }
    .container-flex>div[class*='col-'] div,
    .row-flex>div[class*='col-'] div {
        width: 100%;
    }
    .flex-col {
        display: flex;
        display: -webkit-flex;
        flex: 1 100%;
        flex-flow: column nowrap;
    }
    .flex-grow {
        display: flex;
        -webkit-flex: 2;
        flex: 2;
    }
    // ciach!
    .row.display-flex {
        display: flex;
        flex-wrap: wrap;
    }
    .row.display-flex>[class*='col-'] {
        flex-grow: 1;
    }
    background-color: $dash-main-background;
    i {
        position: relative;
        span {
            position: absolute;
            top: -35%;
            right: -35%;
            background-color: $dash-header-secondary;
            font-size: 0.5em;
            padding: 0.35em 0.35em;
            font-style: normal;
            font-weight: bold;
            width: 1.8em;
            height: 1.8em;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            text-align: center;
        }
    }
    header {
        background-color: $dash-header-background;
        color: $dash-header-primary;
        padding-top: 0;
        padding-bottom: 0;
        .header-menu {
            text-align: center;
            .row {
                height: 100%;
                .header-menu-active {
                    background-color: $dash-header-menuActive;
                    &::after {
                        background-color: $dash-header-menuActive;
                        font-size: 1.5em;
                        content: "";
                        width: 1em;
                        height: 1em;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translate(-50%, 50%);
                        -webkit-border-radius: 0.5em;
                        -moz-border-radius: 0.5em;
                        border-radius: 0.5em;
                    }
                }
                .header-menu-item {
                    height: 100%;
                    text-align: center;
                    font-size: 1em;
                    text-transform: uppercase;
                    font-weight: 300;
                    padding: 2em 0;
                    div {
                        display: block;
                        margin: 1em initial;
                    }
                    i {
                        font-size: 2.5em;
                    }
                    span {
                        height: 2.5em;
                        position: relative;
                        i:first-child {
                            position: absolute;
                            font-size: 2em;
                            top: -0.1em;
                            left: 0.3em;
                        }
                        i:last-child {
                            font-size: 1.75em;
                            position: absolute;
                            bottom: 0;
                            left: -0.1em;
                            ;
                        }
                    }
                    p {
                        margin-top: 1em;
                    }
                }
            }
        }
        .header-right {
            padding-top: 2em;
            padding-bottom: 2em;
            form {
                width: 100%;
                text-align: right;
                input[type=search],
                input[type=search]:focus {
                    font-size: 1.5em;
                    text-align: right;
                    background-color: rgba(0, 0, 0, 0);
                    border: 0 none;
                    outline: none;
                    box-shadow: none;
                    -webkit-box-shadow: none;
                    padding: 0px;
                    margin: 0px;
                    color: $dash-header-primary;
                }
                a {
                    font-size: 2em;
                    margin-left: 0.5em;
                }
                .dashboard-find {
                    text-align: right;
                    background-color: rgba(0, 0, 0, 0);
                    border: 0 none;
                    outline: none;
                    box-shadow: none;
                    -webkit-box-shadow: none;
                    color: $dash-header-primary;
                    padding-right: 0;
                }
                .dashboard-logOut {
                    padding-left: 0.5em;
                    color: $dash-header-secondary;
                    border-left: 1px solid $dash-header-primary;
                }
            }
        }
        .header-left {
            padding-top: 2em;
            padding-bottom: 2em;
            .header-left-icons {
                color: $dash-header-primary;
                i {
                    margin-right: 0.6em;
                }
            }
            img {
                display: inline-block;
                border: 2px solid $dash-header-imgBorder;
                -webkit-border-radius: 0.2em;
                -moz-border-radius: 0.2em;
                border-radius: 0.2em;
                width: 47%;
                margin-left: 0.5%;
                margin-right: 0.5%;
                // position: relative;
            }
            h2 {
                font-weight: 300;
                margin-top: 0;
            }
        }
    }
    .dashboard-main {
        margin-top: 2em;
        font-family: $dash-fontfamily-normal;
        h1 {
            font-size: 2.8em;
            font-weight: 300;
            text-align: left;
            margin: 0;
        }
        img {
            max-width: 100%;
        }
        .dashboard-main-bottom {
            margin-top: 1em;
            margin-bottom: 1em;
            .dashboard-main-apla {
                @include dash-border-radius();
                background-color: $dash-main-primary;
                padding: 1.5em;
                margin: 0 0em 1em 0;
                font-size: 1.2em;
                .fa-inverse {
                    color: $dash-main-primary;
                    font-size: 1.25em;
                }
                .fa-badge {
                    position: relative;
                    span {
                        color: $dash-main-primary;
                        position: absolute;
                        top: -25%;
                        right: -25%;
                        background-color: $dash-header-secondary;
                        font-size: 0.75em;
                        line-height: 1em;
                        padding: 0.3em 0.3em;
                        font-style: normal;
                        font-weight: bold;
                        width: 1.6em;
                        height: 1.6em;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        border-radius: 50%;
                        text-align: center;
                    }
                }
                i {
                    text-align: center;
                    font-size: 2.2em;
                    color: $dash-main-icon;
                    span {
                        color: $dash-main-primary;
                        font-size: 0.5em;
                        padding: 0.15em 0.15em;
                        width: 1.5em;
                        height: 1.5em;
                    }
                }
                p {
                    margin: 0;
                }
            }
            .dashboard-main-apla-active {
                background-color: $dash-main-secondary;
                i {
                    color: $dash-main-iconActive;
                }
            }
            .dashboard-main-history {
                @include dash-border-radius();
                background-color: $dash-main-primary;
                font-size: 1.25em;
                font-weight: 500;
                margin: 0;
                p {
                    margin: 0;
                }
                .row {
                    font-family: $dash-fontfamily-condensed;
                    padding: 0.6em 0;
                    border-bottom: 2px solid $dash-main-background;
                    div:nth-child(1) {
                        text-align: center;
                        padding-left: 0.9375rem;
                        padding-right: 0;
                        font-size: 1.1em;
                    }
                    div:nth-child(2) {
                        display: inline;
                        p {
                            display: inline;
                        }
                        i {
                            color: $dash-main-secondary;
                        }
                        .dashboard-main-invert {
                            color: $dash-main-primary;
                            background-color: $dash-main-secondary;
                            padding: 0.1em 0.5em;
                            font-family: $dash-fontfamily-normal;
                            margin: 0 0.5em;
                        }
                    }
                    div:nth-child(3) {
                        font-size: 1.1em;
                        text-align: center;
                        padding-right: 0.9375rem;
                        padding-left: 0;
                        .dashboard-main-green {
                            color: $dash-main-text2;
                        }
                    }
                }
            }
        }
        .dashboard-btn-right {
            p {
                font-size: 1em;
                font-weight: 400;
            }
            button {
                margin-left: 0.5em;
            }
        }
        .dashboard-main-head2 {
            margin-top: 0.2em;
            margin-bottom: 0.5em;
            font-family: $dash-fontfamily-condensed;
            font-size: 1.8em;
            text-align: left;
            font-weight: 400;
            p {
                line-height: 1.2em;
            }
        }
        .dashboard-main-switch {
            p {
                font-size: 0.6em;
                margin-right: 0.5em;
            }
            .btn {
                color: $dash-main-text1;
                border: 0.2em solid $dash-main-primary;
            }
        }
    }
}

.dashboard-align-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // text-align: right;
    &>p {
        margin-bottom: 0;
        margin-top: 0;
    }
}